<%= render :partial => 'location_request' %>
<ul id="spots-list" class="table-view table-action">
	<% @spots.each do |spot| %>
	  <li>
	  	<a href="<%=spot_url(spot) %>">
	  		<h2><%= spot.name %></h2>
	      <span class="relative-distance">0 miles</span>
	  	</a>
	  </li>
	<% end %>
</ul>